@import "../scss/reset";
@import "../scss/fonts";

html {
  @extend %fontfamily;

  body {
    user-select: none;
    width: 100vw;
    height: 100vh;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: url(../img/bg.svg) top left / auto auto repeat;

    div {
      min-height: 50%;
      flex-basis: 30%;
      padding: 1rem 1rem 1.5rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;
      background-color: rgba($color: #fff, $alpha: 0.1);
      box-shadow: 0 0 1rem #000;
      border-radius: 1rem;
      @extend %smooth-appearance;

      li {
        @extend %smooth-appearance;
      }

      .modal-window-content {
        display: none;
      }

      .green {
        padding: 7rem;
        box-shadow: none;
        background: transparent url(../img/traffic-light-green.svg) center
          center / 90% 90% no-repeat;
      }
      .red {
        padding: 7rem;
        box-shadow: none;
        background: transparent url(../img/traffic-light-red.svg) center center /
          90% 90% no-repeat;
      }
      .yellow {
        padding: 7rem;
        box-shadow: none;
        background: transparent url(../img/traffic-light-yellow.svg) center
          center / 90% 90% no-repeat;
      }
    }

    button {
      @extend %button;
      width: 50%;
      min-width: fit-content;
      padding: 0.1rem;
      border-radius: 1rem;
      border: none;
      box-shadow: 0 0 1rem #000;
      transition: all ease-in-out 0.1s;

      &:hover {
        box-shadow: 0 0 1.5rem #000;
      }

      &:active {
        box-shadow: 0 0 2.5rem #000;
      }
    }

    .modal-window-button {
      visibility: hidden;
    }
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 75%;

    body {
      margin: 1rem 0;
      div {
        flex-basis: 90%;
        margin: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 62.5%;
  }
}

//animation
%smooth-appearance {
  animation-name: open;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
